[submodule "LIMS"]
	path = LIMS
	url = https://github.com/LupusLudit/LIMS.git
[submodule "BookOrg-D1"]
	path = BookOrg-D1
	url = https://github.com/LupusLudit/BookOrg-D1.git
[submodule "BMBank"]
	path = BMBank
	url = https://github.com/LupusLudit/BMBank.git
[submodule "PhotoSort"]
	path = PhotoSort
	url = https://github.com/LupusLudit/PhotoSort.git
